extends layout

block content
  h1 Change password
  form#change-password-form
    .form-group
      label Current password
      input.form-control(type="password" ng-model="current_password" placeholder="Current Password")
    .form-group
      label New password
      input.form-control(type="password" ng-model="new_pasword" placeholder="New Password")
    .form-group
      button.btn.btn-primary(ng-click="ctrl.changePassword(current_password, new_password)") Change
