doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel="stylesheet", href="stylesheets/toastr.min.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
  body(ng-app="PrimaryApp" ng-cloak)
    div(ng-controller="Controller as ctrl")
      block content
    script(src="https://code.jquery.com/jquery-2.2.2.min.js"   integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js")
    script(src="javascripts/toastr.min.js")
    script(src="javascripts/angular/app.js")
    script(src="javascripts/angular/controller.js")
    
